<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% var server = 'http://' + ip + ':' + port; %>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('<%= server%>');
		socket.on('message', function (data) {
			document.getElementById('messages').innerHTML += '<li>' + JSON.stringify(data) + '</li>';
			console.log(data);
			if(data.final) {
				socket.disconnect();
			}
		});
	</script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Listening to <%= server%></h3>
    <ul id="messages"></div>
  </body>
</html>